.container-market {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.container-market .first {
    padding: 50px 15px;
    width: 100%;
    background: #f2d30c;
}

.container-market .first h2 {
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.container-market .first h4 {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.container-market form {
    padding: 0 15px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.container-market p {
    font-size: 18px;
    font-weight: 600;
    color: #0c87f2;
    text-align: center;
    padding: 0 15px;
    margin: 35px 0px;
}

.container-market form h5 {
    font-size: 12px;
    font-weight: 500;
    color: #f2d30c;
    margin-bottom: 5px;
}

.container-market form input {
    background: transparent;
    border: 1px solid #bce0fd;
    color: #7b7b7b;
    border-radius: 4px;
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

button.button-register-market {
    width: 90%;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #0c87f2;
    background: transparent;
    color: #269aff;
    margin: 0 auto;
    border-radius: 4px;
    padding: 15px 25px;
    margin-top: 10px;
    cursor: pointer;
}

button.button-register-market:hover {
    background: #0c87f2;
    color: #ffffff;
    transition: 0.3s;
}
