.home-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 25px;
    background: linear-gradient(
        180deg,
        #221475 0%,
        #221475 400px,
        rgba(241, 243, 249, 1) 400px,
        rgba(241, 243, 249, 1) 100%
    );
}

.home-panel span.page {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
    padding: 25px 0;
}

.home-panel span.page h2 {
    margin: 0;
    margin-left: 10px;
    font-size: 25px;
}

.home-panel .card-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.home-panel .card-row .card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 240px;
    box-shadow: 0px 3px 6px #1717172d;
    position: relative;
}

.home-panel .card-row h5 {
    color: #8898aa;
    font-size: 11px;
    font-weight: 600;
}

.home-panel .card-row h4 {
    color: #4d4f5c;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.home-panel .card-row h6 {
    color: #4d4f5c;
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
}

.home-panel .card-row h6 span {
    color: #f53e13;
    font-weight: 600;
    margin-right: 5px;
}

.home-panel .card-row .card:nth-child(2) h6 span {
    color: #2dce98;
}

.home-panel .card-row i {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2d30c;
    color: #ffffff;
}

.home-panel .row {
    margin-top: 25px;
    /* margin-bottom: 25px; */
}

.home-panel .chart-sales {
    height: 400px;
}

.home-panel .grafico,
.home-panel .grafico1 {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #1717172d;
}

.home-panel .grafico p,
.home-panel .grafico1 p {
    font-size: 11px;
    color: #8898aa;
    font-weight: 600;
    margin-bottom: 5px;
}

.home-panel .grafico h3,
.home-panel .grafico1 h3 {
    font-size: 20px;
    color: #172b4d;
    font-weight: 600;
    margin-bottom: 25px;
}

.home-panel .chart-loses {
    height: 400px;
}

@media screen and (max-width: 991px) {
    .home-panel .card-row {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .home-panel .card-row .card + .card {
        margin-top: 15px;
    }

    .home-panel .card-row .card {
        max-width: 100%;
    }

    .home-panel .row {
        margin-top: 0;
    }

    .home-panel .grafico1 {
        margin-top: 25px;
    }
}
